langchain
langchain-groq
langchain-ollama
langchain-community
subprocess-tee
python-dotenv
PyPDF2
pyautogui
keyboard
groq
google-genai
mss
sounddevice
soundfile
numpy
pyperclip
requests
beautifulsoup4
